.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4A60;
    height: 100vh;
    
    .JuTe6q_spectrum {
        background-color: #FF4A60;

    }
}