nav {
    background-color: $red-1;

    .nav-container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        .nav-start {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
        .nav-end {
            gap: 5px;
            display: flex;
        }
    }
}
