.main-webtoon {

    background: url(../../../../public/images/backgroundwebtoon.jpg) center/cover;

    
    .webtoon-container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 15px 0 50px;

        .title-webtoon {
            h1 {
                margin: 14px 0;
                color: $red-1;
                font-size: 20px;
                font-weight: normal;
            }
        }

        .webtoon {
            display: grid;
            grid-template-columns: 225px auto;
            gap: 30px;
            
            .webtoon-img {
                padding: 15px;
                background: $white-half;
                
                
                img {
                    width: 100%;
                    display: block;
                }
            }

            .webtoon-desc {
                padding: 15px;
                background: $white-half;
            }
        }
    }
    .modal {
        .modal-back{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .25);
        }
        .modal-container {
            width: 630px;
            min-height: 670px;
            position: fixed;
            top: 50%;
            left: 50%;
            padding: 25px;
            background: white;
            transform: translate(-50%, -50%);

            .dragndrop-container {

                max-width: 80%;
                margin: 50px auto 0;
                
                .dropzone {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 3px dashed $red-1;
                    padding: 75px 20px;
                }
                .upload-aside {

                    display: grid;
                    margin-top: 20px;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 10px;

                    
                    .upload-container {
                        .img-uploaded {
                            @include centerdiv;
                            
                            img {
                                max-height: 150px;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}