.carousel-container {
    background-color: $black-1;
    padding: 50px 10px;

    .carousel {
        min-height: 0;
        min-width: 0;
        max-width: 1140px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        .slick-slider {
            // margin: 0 20px;

        .slick-list {
            padding: 50px 0 10px;
            margin: 0 -15px;

            .slick-track {
                top: 0;
                left: 0;
                display: block;
                margin-left: auto;
                margin-right: auto;

                .slick-slide {
                    float: left;
                    height: 100%;
                    min-height: 1px;

                    .slider-item {
                        padding-left: 15px;
                        padding-right: 15px;

                        .item-wrap {
                            background-color: rgba(235, 235, 235, 0.2);
                            height: 181.48px;

                            .slider-thumb {
                                width: 126px;
                                float: left;
                                overflow: hidden;
                            }

                            .info-manga {
                                width: calc(100% - 126px);
                                overflow: hidden;
                                padding: 20px 15px;

                                h3 {
                                    color: $white-1;
                                    margin-bottom: 15px;
                                }
                                
                                .post-on {
                                    text-align: center;
                                    margin-bottom: 15px;
                                }

                                .last-chap {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .slick-prev, .slick-next {
            background-color: #363636;
            position: absolute;
            top: 0;
            color: $white-1;
            padding: 10px;
        }

        .slick-prev {
            right: 40px;
            left: auto;
            margin-right: 15px;

        }
        .slick-next {
            right: 0;
            left: auto;
        }
    }
    }
}

.slick-slide img {
    display: block;
}